html {
  width: 100%;
  height: 100%;
  margin: 0;

  body {
    width: 100%;
    height: 100%;
    margin: 0;

    .none{
      display: none;
    }

    #content{
      background-color: #fff;
      border-radius: 0;

      #temp{
        text-transform: capitalize ;
      }
    }
    
    .justify-content-center{
      padding-top: 50px;
      margin: 0 !important;
      border-bottom: 1px solid #000;
      padding-bottom: 15px;

      #find{
        margin-left: 15px;
      }
    }

  }
}



