html {
  width: 100%;
  height: 100%;
  margin: 0;
}
html body {
  width: 100%;
  height: 100%;
  margin: 0;
}
html body .none {
  display: none;
}
html body #content {
  background-color: #fff;
  border-radius: 0;
}
html body #content #temp {
  text-transform: capitalize ;
}
html body .justify-content-center {
  padding-top: 50px;
  margin: 0 !important;
  border-bottom: 1px solid #000;
  padding-bottom: 15px;
}
html body .justify-content-center #find {
  margin-left: 15px;
}
